*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    margin: 0;
}

.logo,
.logo__small,
.logo__small--extra {
    border-radius: 100px;
    transition: all 1s ease-in-out;
    box-shadow: var(--box-shadow-pos);
    cursor: pointer;
}

.logo:hover,
.logo__small:hover,
.logo__small--extra:hover {
    transition: all 1s ease-in-out;
    transform: rotate(360deg);
} 

.logo__small {
    width: 5vw;
}

.logo__small--extra {
    height: 8vh;
}

.logo {
    width: 15vw;
}

body {
    margin: 0;
    padding: 0;
    font-size: var(--p-size);
    font-family: 'Grape Nuts', cursive;
    background-color:var(--blue);
    cursor: default;
    
}

:root {
    --h1-size: 40px;
    --h1-sm-size: 30px;
    --h2-size: 40px;
    --h2-sm-size: 30px;
    --p-size: 20px;

    --height-h: 1.1;
    --height-p: 1.5;

    --space: 0.4em;

    --border: 25px solid rgb(59, 45, 45, .5);

    --box-shadow-neg: -4px -4px 8px rgba(0,0,0,.4);
    --box-shadow-pos: 4px -4px 8px rgba(0,0,0,.4);
    --box-shadow-head: 10px 10px 5px rgba(0,0,0, .4);

    --card-height: 40vw;
    --card-margin: 4vw;
    --card-top-offset: 1em;
    --numcards: 4;
    --outline-width: 0px;

    --black: rgb(17, 21, 28);
    --blue: rgb(33, 45, 64);
    --charcoal: rgb(54, 65, 86);
    --tuscan-red: rgb(125, 78, 87);
    --copper-red: rgb(214, 104, 83);
}

h1 {
    font-size: var(--h1-size);
    line-height: var(--height-h);
    margin: 0;
}

h2 {
    font-size: var(--h2-sm-size);
    line-height: var(--height-h);
}

p {
    font-size: var(--p-size);
    line-height: var(--height-p);
}

h1,
h2,
p {
    letter-spacing: var(--space);
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: var(--p-size);
    color: antiquewhite;
}

span {
    font-size: var(--h2-sm-size);
    font-weight: 600;
}

.main__header {
    grid-area: header;
    box-shadow: var(--box-shadow-head);

    border-radius: 0 0 5% 5%;
}

.sidebar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
    padding: 1rem;
    
}

.article {
    grid-area: article;
}

body {
    /* height: 100vh; */
    /* overflow: hidden; */
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";

}

body::-webkit-scrollbar {
    width: 20px;
}
body {
scrollbar-width: 20px;
scrollbar-color: var(--blue) var(--black);
}
body::-webkit-scrollbar-track {
background-color: var(--black);
}
body::-webkit-scrollbar-thumb {
background-color: var(--copper-red) ;
border-radius: 50px;
border: 3px solid var(--charcoal);
}

.title {
    color: black;
}

.main__header {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    background-color: antiquewhite;

    position: sticky;
    top: 0;
    z-index: 100;
}

.icon--search,
input[type] {
    display: none;
}

.icon--lamp {
  box-shadow: 0 5px 15px rgb(255, 255, 0, .5);
}

.icon--lamp:hover {
    box-shadow: 0 5px 30px rgb(255, 255, 0, 1);
    
}


.header__top,
.header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__top--left,
.header__top--right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;
    width: 100%;
    padding: 1rem;
}

.header__top--right {
    display: none;
    gap: 3vw;
    justify-content: flex-end; 
    padding-right: 3vw;
}

.header__bottom--left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__bottom--text {
    padding: 1rem;
}

.header__nav {
    display: none;
}

.header__nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30vw;

    
}


.header__nav ul li button:hover {
    box-shadow: var(--box-shadow-neg);
}

button {
    outline: none;
    border: none;

    background-color: var(--copper-red);
    padding: 1rem 2rem;
    border-radius: 50px;
    box-shadow: var(--box-shadow-pos);
    cursor: pointer;

    font-size: var(--p-size);
    font-family: 'Grape Nuts', cursive;
    color: antiquewhite;
}

.sidebar {
    background-color: var(--copper-red);
    
}

.sidebar__header {
    padding: .5rem;
}


.sidebar,
.sidebar__nav,
.sidebar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2vh;

    position: sticky;
    top: 0;
}


.sidebar__nav {
    gap: 5vh; 
}

#nav--hidden {
    display: block;
}

.sidebar ul {
    justify-content: space-evenly;
    width: 100%;
    align-items: flex-start;
    gap: 2vh;
}

.sidebar ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2vw;
    
}

a {
text-decoration: none;
display: inline-block;
position: relative;
}

a::after {    
background: none repeat scroll 0 0 transparent;
bottom: 0;
content: "";
display: block;
height: 2px;
left: 50%;
position: absolute;
background: #fff;
transition: width 0.3s ease 0s, left 0.3s ease 0s;
width: 0;
}

a:hover::after { 
width: 100%; 
left: 0; 
}

.main {
    background-color: var(--blue);

    overflow: auto;
    display: grid;
    
}

.header--title {
   padding-left: 2rem;
}


.article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    grid-gap: .1rem;
    align-items: center;
    padding: 1rem;
    transition: 1s ease-in-out all;
}

.article--animate {
   
    grid-gap: 2rem;
    transition: 1s ease-in-out all;
}

.card {
    border-left: 10px solid var(--black);
    transition: all 1s ease-in-out;
}

.card:hover {
    transition: all 1s ease-in-out;
    transform: scale(1.05);
}

.card__nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 1vw;
}

.card,
.announcements__list,
.trending__list {
    box-shadow: var(--box-shadow-pos);
    padding: 2rem;

    background-color: var(--tuscan-red);
    border-radius: 50px;
}


.title {
    font-weight: 800;
}

.sidebar__main {
    padding: 1rem;
}


.announcements__content {
    border-bottom: 2px solid var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.announcements__content:hover {
    background-color: var(--black);
    color: antiquewhite;
    border-radius: 0 0 50px 0;
    box-shadow: var(--box-shadow-neg);
    transition: .5s all ease-in-out;
    
}

.announcements__content:last-of-type {
    border: none;
}

.trending__list li {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-bottom: 1rem;
}

.trending__list--text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.trending__list--text span {
    font-weight: 200;
}

@media (min-width: 700px) {
    a {
        font-size: var(--h2-sm-size);
    }
}

@media (min-width: 940px) {
    .header__top--right {
        display: flex;
    }

    .logo {
        width: 10vw;
    }
    .main {
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
            "article sidebar__main";
        }

        .main::-webkit-scrollbar {
            width: 20px;
        }
        .main {
        scrollbar-width: 20px;
        scrollbar-color: var(--blue) var(--black);
        }
        .main::-webkit-scrollbar-track {
        background: var(--black);
        }
        .main::-webkit-scrollbar-thumb {
        background-color: var(--copper-red) ;
        border-radius: 50px;
        border: 3px solid var(--charcoal);
        }

        .icon--search,
        input[type] {
            display: flex;
        }

        .icon--search {
            z-index: 10;
            background-color: var(--copper-red);
            border-radius: 50px;
            padding: 1%;
        }
        
        input[type] {
            background-color: var(--black);
            outline: none;
            border: none;
            border-radius: 50px;
            padding: .5rem;
            color: antiquewhite;
            font-size: var(--p-size);
            font-family: 'Grape Nuts', cursive;
        }

        .trending__list--text {
            align-items: flex-start;
        }
}

@media (min-width: 1200px) {

    body {
        height: 100vh;
        overflow: hidden;
    }

    #nav--hidden {
        display: none;
    }

    .header__nav {
        display: block;
    }

   
}